body {
  font-size: 19px;
  font-family: fancy-font, arial, sans-serif;
}

a {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.blog-post__tags, .blog-post__comment-amounts {
  border: 0;
}
